.vscode/*
engine/__pycache__/docify.cpython-312.pyc
engine/__pycache__/extractor.cpython-312.pyc
engine/__pycache__/llm_mode_1.cpython-312.pyc
ressources/exemple/.~lock.Exemple_compte_rendu1.docx#
engine/__pycache__/llm_mode_3.cpython-312.pyc
